@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
/*  font-family: 'Sedgwick Ave Display', cursive; 
    font-family: 'Handlee', cursive; */

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    background-position: calc(50% + 250px) center;;
    background-size: 150%;
    color: white;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/eddieStoneWall.jpeg'); 
  }
  
  .homepage-container h5 {
    font-size: 1.5rem;
    font-family: 'Handlee', cursive;
    margin: 0;
  }
  
  .homepage-container h2 {
    font-size: 4rem;
    margin: 0;
  }




/* styles for MOBILE PHONES */

@media (max-width: 480px) {
  :root {
    font-size: 13px;
  }


  .homepage-container {
    margin-bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 220%;
    color: white;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/eddieStoneWall.jpeg'); 
  }

  .homepage-container h5 {
    font-size: 1.5rem;
    font-family: 'Handlee', cursive;
    margin: 0;
  }

  .homepage-container h2 {
    font-size: 4rem;
    margin: 0;
  }
  

}
