
.weather {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
  }

  #weatherHeader {
    color: white;
  }
  
  .weather-input {
    margin-bottom: 1rem;
  }

  #weatherXicon {
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
  }
  
  .weather-info {
    border-radius: 8px;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .weather-condition {
    font-size: 1.4rem;
  }

  #getWeatherButton {
    margin: 10px 20px;
  }

  .weather-temps {
    font-size: 1.4rem;
  }
  
  input,
  button {
    font-size: .8rem;
    padding: 0.5rem;
  }
  