
.parent-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#top-half {
background: linear-gradient(90deg,#698cff,#003572);
  display: flex;
  width: 100%;
  flex: 1.5;
}

#bottom-half {
  background-color: #2b2083;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  color: white; 
}

#circle-photo {
    background-image: url('../../images/eddiePlantWall.jpeg');
    background-position: center;
    background-size: 260%;
    width: 230px;
    height: 230px;
    min-width: 230px; 
    border-radius: 50%;
    margin-top: 7%; 
    margin-left: 6%; 
    border: 1px solid white; 

}

.upper-right-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: .9; 
    padding: 0 15%; 
    max-height: 240px;
    margin-top: 10%; 
}

#infoPlacementContainer {
    display: flex; 
}

#scrollPlacementContainer {
    display: flex;
    align-items: center;
    position: relative;
    left: -13%; 
    top: 15%; 
}

.all-about-text {
margin-bottom: 12px;
}

#about-name {
    font-size: 1.7rem;
}

#about-title {
    font-style: italic;
    font-weight: 200;
    color: rgb(175, 255, 2);
} 

#paragraphsWindow {
    font-size: 1rem;
    font-weight: 400;
    overflow: scroll;
    min-width: 250px; 
}

#scrollButtonContainer {
    display: flex;
    flex-direction: column;



}

.scrollButton {
    width: 25px; 
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; 
    cursor: pointer;
 
}

#iconArrows {
    font-size: 2rem;
}

.bottom-box {
    display: flex;
    flex-direction: column;
    padding: 7px; 
    flex: 1;
}

.h3-bottom-box {
    margin: 10px auto 10px auto;
    font-size: 1.5rem;
    font-weight: 700;
}

.h4-bottom-box {
    margin: 0 auto; 
    margin-bottom: 7px;
}

.about-icons {
    margin: 0 auto;
    font-size: 1.6rem;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 5px; 
    
}

#code-logo-container {
    display: flex;

    width: 100%;
}


/* styles for MOBILE PHONE */
@media (max-width: 480px) {
    :root {
      font-size: 12px;
    }

    * {
        border: orange 1px solid;
    }
}
























/* #parentAboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/eddiePlantWall.jpeg');
    background-size: 135%;
    background-position: calc(50% + 200px) center;
    height: 100%;
}

.aboutParagraph {
    padding: 30px;
    font-size: 1.3rem; 
    display: flex;
    line-height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px 20px; 
    
}

.about {
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column; 
    height: 450px;

}


#abouth2 {
    display: flex; 
    margin: 20px; 
    font-size: 4rem;

}

.text-container {

    display: flex;

    flex: 1; 
    flex-direction: column; 
    align-items: center;
}

.photo-container {
    display: flex;
    flex: 1

}

.list-text {
    padding: 25px; 
}

.about-me-quick-list {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 2.2rem;
    border: 1px solid rgb(175, 255, 2);
    border-radius: 9px;
    padding: 15px; 
    margin: 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
        */

  




