@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1.7s ease-in;
}

.navbar.visible {
  opacity: 1;
}

/* the small .com after Edward baum styling */
#dotCom {
  font-size: .7rem;
  color: #afff02;
}
/* inner container inside nav bar element that holds Edward Baum links list */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;

}
/* the name Edward Baum styling */
.navbar-name {
  font-size: 1.7rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.nav-link-active {
border-bottom: 2px solid rgb(175, 255, 2);
}

.nav-item:hover {
  background-color: rgb(31, 31, 31);
}

.nav-item {
  margin-left: 1.5rem;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-link:hover {
  color: rgb(175, 255, 2);
}



/* styles for MOBILE PHONE */
@media (max-width: 480px) {
  :root {
    font-size: 13px;
  }

  .nav-item {
    margin-left: 1rem;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-name {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .container {
    width: 99%;
  }
}

